/* 

	Arquivo CSS geral com estilos dos elementos de todas páginas 

*/

* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* equivalente a 10px */
}
img {
  max-width: 100%;
  height: auto;
}

ul {
	font-size: 15px;
}

body {
	background-color: white;
}

h1 {
	font-size: 1.2rem;
}

h2 {
	font-size: 1.8rem;
}

form {
	background: #eee;
	padding: 10px;
}

form div {
	background: #fff;
	border-bottom: 1px solid #33f;
	margin: 1rem;
	padding: 2rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem; 
	font-family: sans-serif;
	font-weight: bold;
	color: #66F;
}

input {
	padding: 1rem;
}

[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;
}

header {
  background-color: #000111;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left; /* muda regra de quebra de linha*/
  width: 30%;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #000111;
  padding: 10px;
  text-align: center;
  color: white;
}

.coluna{
  display: inline; /*Cria como se fosse coluna*/
  display: block; /*Por padrão ele já da a quebra de linha*/
  float: left; /*Trabalha em conjunto com display block*/
  width: 50%;
  padding: 5px;
  /*background: #eee;
  border: 1.5px solid #fff;*/ 
}

.coluna-03 {
  columns: 100px 2; /*Trabalha com quebra da coluna dentro da coluna*/
  width:50%;
}
.coluna-100w {
  width: 100%;
}

iframe{
  width: 100%;
}


/* Mobile First - Breakpoint */

@media (max-width: 1600px){

  body{
    background-color: dimgray ;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }

  p,h3,li,a{
    color: #fff;
  }
  
  nav {
    background-color: #000111;
    color: white;
    font-size: 2rem;
  } 
  
  a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
  }
  
  header {
    background-color: rgb(3, 0, 46);
    color: white;
  }

  footer{

    background-color: rgb(3, 0, 46);
    color: white;
  }

  h1 {
    
    color: white;
    text-align: center;
    font-size: 2.5rem;
  }
  
  .coluna-03 {
    background-color: #eee;
    color: black;
    columns: 100px 1;
    width: 100%;
  }

  .moldura {

    width: 100%;
  }

}

/*Tablet*/

@media (max-width: 1181px) {

  body {
    background-color: dimgray;
    font-family: 'Courier New', Courier, monospace;
  }

  nav {

    background-color: white;
    font-size: 2rem;
    width:30%;
  }
  
  a {

    color: #000111;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
  }

  h1 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    color: white;
  }
  .coluna-03 {

    background-color: white;
  }

  article {

    width: 70%;
  }
}

/*Smartphone*/

@media (max-width: 767px) {

  body {

    background-color: dimgrey;
    font-family: 'Courier New', Courier, monospace;
  }

  nav,
  article,
  .coluna {
    width: 30%;
    min-width: 320px;
  }

  nav{
    background-color: white;
    color: #000111;
    font-size: 2rem;
  }
  
  a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
  }

  h1 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    color: white;
  }
  
  .coluna-03 {

    background-color: #eee;
    color: black;
    columns: 100px 3;
    width: 100%;
  }

  iframe {
    width: 100%;
  }
}



